body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#xCords {
  color: white;
  visibility : visible;
  position: fixed;
  top: 10px;
  left: 100px;
  z-index: 100;
}
#currentWave {
  color: white;
  visibility : visible;
  position: fixed;
  top: 30px;
  left: 150px;
  z-index: 100;
}
#currentEffect {
  color: white;
  visibility : visible;
  position: fixed;
  top: 50px;
  left: 150px;
  z-index: 100;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}
canvas.leap-boneHand{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #262626;
}
#audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}
#text {
  position: fixed;
  top: 10px;
  left: 300px;
  z-index: 100;
}
#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}
/* #SineText {
  color: black;
  visibility : visible;
  position: relative;
  top: 26.5%;
  left: 71.5%;
  z-index: 100;
}
#SquareText {
  color: black;
  visibility : visible;
  position: relative;
  top: 38.6%;
  left: 69.7%;
  z-index: 100;
}
#SawtoothText {
  color: black;
  visibility : visible;
  position: relative;
  top: 49.5%;
  left: 68.1%;
  z-index: 100;
} */